body{
    margin: 0px;
    padding: 0px;
    background-color: #81a1a1;
}
a{
    text-decoration: none;  
}
.heading{
    margin: 0px;
}
.heading a{
    color:#FFCE2B;
}
.header{
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0px; 
    padding:15px 30px;
}
.paging{
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;  
}
.paging span{
    margin: 10px;
    padding: 10px;
}
.pointer{
    cursor: pointer; 
    text-decoration: underline;
}
.page-number{
    background-color: rgba(0, 0, 0, .3);
    border-radius: 5px;
}

.list-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
    justify-content: center;
}
.list-child-container{
    width: 140px;
    margin: 10px;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, .3);
}
a.list-child-container:hover {
    background-color: rgba(0, 0, 0, 1);
}
.list-img{
    max-width: 100%;
}
.list-title{
    color: white;
    text-overflow: ellipsis;
}
.detail-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.detail-item div{
    padding: 10px;
    margin: 10px;
    color: white;
}
.detail-img{
    padding: 25px;
}
.title{
    font-size: 40px;
}

